<header></header>
  <div id="container">
    <div class="row">
      <aside class="col-md-3">
        <nav >
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#" >全部域名</a></li>
            <li><a href="#" >最近域名</a></li>
            <li><a href="#" >错误域名</a></li>
          </ul>
        </nav>
      </aside>
      <section class="col-md-9" id="content"></section>
    </div>
  </div>
<footer></footer>
