<div class="row">
  <aside class="col-md-3">
    <nav >
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/!/domains?type=all" >全部域名</a></li>
        <li><a href="/!/domains?type=recent" >最近域名</a></li>
        <li><a href="/!/domains?type=pause" >暂停域名</a></li>
      </ul>
    </nav>
  </aside>
  <section class="col-md-9" id="content"></section>
</div>
