<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-success add">添加记录</button>
  </div>
</div>
<div class="add-form-list"></div>
<table class="table">
  <thead>
    <tr>
      <th>主机记录</th>
      <th>记录类型</th>
      <th>线路类型</th>
      <th>记录值</th>
      <th>MX优先级</th>
      <th>TTL</th>
    </tr>
  </thead>
  <tbody class="list"></tbody>
</table>

